<!-- LOG IN PAGE -->

<!-- DISPLAY ERRORS -->
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
    <p style="color: red; ">
        <%= error %>
    </p>
    <% end %>
<% end %>




<!-- LOG IN FORM -->
<div class="card-body">
    <div class="card text-center">
        <img class="card-img-top " src="https://img.icons8.com/cotton/2x/movie-beginning.png" style="width: 20% ; margin: auto;"alt="Card image">
        <h1 style="margin-bottom: 10pt;">Sign In</h1>
        
        <%= form_for :session, url: login_path do |f| %> 

            <div class="card-title">
                <%= f.label :name %>
            </div>

            <%= f.text_field :name %>
            <br>
            <br>

            <div class="card-title">
                <%= f.label :password %>
            </div>

            <%= f.password_field :password %>
            <br>
            <br>

            <div class="btn btn-primary btn-light"><%= f.submit "Login" %></div>
            
       <% end %>
        <a style="margin: 10pt 0pt 10pt 0pt;"href="<%=  new_user_path %>">Don't have an account yet?</a>
    </div>

</div>